<div class="container-fluid" id="body">
   <div class="row" id="form">
    <h3 style="text-align: center;color: #041340;">CONNEXION</h3>
    <form action="">
        <label for="">Email</label>
        <input type="email" class="form-control" placeholder="Email">
        <label for="">Mot de passe</label>
        <input type="password" class="form-control" placeholder="Mot de passe">
        <br>
        <div class="row">
            <input type="submit" value="Se connecter" routerLink="/dashboard">
        </div>
        <br>
    </form>
   </div>
</div>
